
<h1>Welcome to Yelpme home page </h1>
<h2>This is a sample customized website build with<%= link_to"BaseRails","http://www.baserails.com"%>, this is platform which teaches how to build customized website using ruby on rails promming language. Sign up and start learning today</h2>
